In [97]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [98]:
kc_df = pd.read_csv('data/kc_house_data.csv')
kc_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [99]:
kc_df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [100]:
kc_df = kc_df.drop(['id', 'date', 'sqft_basement'], axis=1)

### Exploring NaN Values

In [101]:
# checking if is there any Null values in the dataset
kc_df.isna().sum()

price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [102]:
# summary statistics of view column
kc_df.view.describe()

count    21534.000000
mean         0.233863
std          0.765686
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          4.000000
Name: view, dtype: float64

In [103]:
#since the median value is "zero". I decide to replace Null values with median value
kc_df.view = kc_df.view.fillna(value=kc_df.view.median())

In [104]:
# to check how many houses are waterfront
kc_df.waterfront.value_counts()

0.0    19075
1.0      146
Name: waterfront, dtype: int64

In [105]:
# there are 146 houses waterfront.So, I replace the Null value with median
kc_df.waterfront = kc_df.waterfront.fillna(value=kc_df.waterfront.median())

In [106]:
kc_df.yr_renovated.describe()

count    17755.000000
mean        83.636778
std        399.946414
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       2015.000000
Name: yr_renovated, dtype: float64

In [107]:
# median value of the column yr_renovated is also zero.So we can replace the Null value in median value
kc_df.yr_renovated = kc_df.yr_renovated.fillna(value=kc_df.yr_renovated.median())

In [108]:
# Lets check our data null values again
kc_df.isna().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

### Preprocessing

In [109]:
y = kc_df['price']
X = kc_df.drop('price', axis=1)

In [110]:
#train set and a test set prior to performing any preprocessing steps
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [111]:
print(f"X_train is a DataFrame with {X_train.shape[0]} rows and {X_train.shape[1]} columns")
print(f"y_train is a Series with {y_train.shape[0]} values")

assert X_train.shape[0] == y_train.shape[0]

X_train is a DataFrame with 16197 rows and 17 columns
y_train is a Series with 16197 values

### Drop irrelevant Columns

In [112]:
# Declare relevant column (numerical)
relevant_columns = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'yr_built', 'yr_renovated', 
        'zipcode', 'lat', 'long','sqft_living15', 'sqft_lot15']

# reasign X_train that only contains relevant column
X_train = X_train.loc[:, relevant_columns]

In [113]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6405,3,2.50,1880,4499,2.0,0.0,0.0,3,8,1880,1993,0.0,98029,47.5664,-121.999,2130,5114
937,3,2.50,2020,6564,1.0,0.0,0.0,3,7,1310,1994,0.0,98042,47.3545,-122.158,1710,5151
19076,5,4.00,4720,493534,2.0,0.0,0.0,5,9,3960,1975,0.0,98027,47.4536,-122.009,2160,219542
15201,2,2.00,1430,3880,1.0,0.0,0.0,4,7,1430,1949,0.0,98117,47.6844,-122.392,1430,3880
13083,3,2.25,2270,32112,1.0,0.0,0.0,4,8,1740,1980,0.0,98042,47.3451,-122.094,2310,41606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11964,3,2.50,2230,5800,2.0,0.0,0.0,3,7,2230,2004,0.0,98065,47.5308,-121.847,2230,6088
21575,4,2.75,2770,3852,2.0,0.0,0.0,3,8,2770,2014,0.0,98178,47.5001,-122.232,1810,5641
5390,4,1.50,1530,9000,1.0,0.0,0.0,4,6,1530,1976,0.0,98014,47.6492,-121.908,1520,8500
860,1,0.75,380,15000,1.0,0.0,0.0,3,5,380,1963,0.0,98168,47.4810,-122.323,1170,15000
15795,4,2.50,2755,11612,2.0,0.0,0.0,3,8,2755,2001,0.0,98019,47.7394,-121.965,2820,12831

In [114]:
# X_train should have the same number of rows as before
assert X_train.shape[0] == 16197

# Now X_train should only have as many columns as relevant_columns
assert X_train.shape[1] == len(relevant_columns)

In [115]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 6405 to 15795
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       16197 non-null  int64
 1   bathrooms      16197 non-null  float64
 2   sqft_living    16197 non-null  int64
 3   sqft_lot       16197 non-null  int64
 4   floors         16197 non-null  float64
 5   waterfront     16197 non-null  float64
 6   view           16197 non-null  float64
 7   condition      16197 non-null  int64
 8   grade          16197 non-null  int64
 9   sqft_above     16197 non-null  int64
 10  yr_built       16197 non-null  int64
 11  yr_renovated   16197 non-null  float64
 12  zipcode        16197 non-null  int64
 13  lat            16197 non-null  float64
 14  long           16197 non-null  float64
 15  sqft_living15  16197 non-null  int64
 16  sqft_lot15     16197 non-null  int64
dtypes: float64(7), int64(10)
memory usage: 2.2 MB

In [116]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [117]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train, y_train, cv=10)
scores

array([0.68996495, 0.6867987 , 0.71271551, 0.67589595, 0.73337184,
       0.71880744, 0.71787277, 0.69946368, 0.68493783, 0.68514289])

In [118]:
display(scores)
display(scores.mean())
display(scores.std())

array([0.68996495, 0.6867987 , 0.71271551, 0.67589595, 0.73337184,
       0.71880744, 0.71787277, 0.69946368, 0.68493783, 0.68514289])

0.7004971569851616

0.0180275329186408

In [119]:
y.std()

367368.1401013945

In [120]:
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.688957880329008

In [123]:
pred = model.predict(X_test)
pred

array([  83587.31372177,  383246.82690452,  195511.32484925, ...,
       1131209.90120496, 1424153.30674816,  122531.68447035])

In [125]:
abs(pred - y_test)

3686      48912.686278
10247     31753.173095
4037     298488.675151
3437      42600.075878
19291    166751.291690
             ...
18276    136258.853153
15003     46566.020046
13478    198790.098795
18399    639653.306748
2358     111468.315530
Name: price, Length: 5400, dtype: float64

In [127]:
total_residual = sum(abs(pred - y_test))
total_residual

682355370.1958104