In [1]:
# importing necessary library
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler 
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
import statsmodels.stats.api as sms
import matplotlib.pyplot as plt
from matplotlib import style

plt.style.use('seaborn')
style.use('ggplot')
import folium
%matplotlib inline

In [2]:
kc_df = pd.read_csv('data/kc_house_data.csv')
kc_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [33]:
kc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21143 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21143 non-null  int64
 1   date           21143 non-null  object
 2   price          21143 non-null  float64
 3   bedrooms       21143 non-null  int64
 4   bathrooms      21143 non-null  float64
 5   sqft_living    21143 non-null  int64
 6   sqft_lot       21143 non-null  int64
 7   floors         21143 non-null  float64
 8   waterfront     21143 non-null  float64
 9   view           21143 non-null  float64
 10  condition      21143 non-null  int64
 11  grade          21143 non-null  int64
 12  sqft_above     21143 non-null  int64
 13  sqft_basement  21143 non-null  float64
 14  yr_built       21143 non-null  int64
 15  yr_renovated   21143 non-null  float64
 16  zipcode        21143 non-null  int64
 17  lat            21143 non-null  float64
 18  long           21143 non-null  float64
 19  sqft_living15  21143 non-null  int64
 20  sqft_lot15     21143 non-null  int64
dtypes: float64(9), int64(11), object(1)
memory usage: 3.5+ MB

### Separate features from target

In [38]:
# seperating target column from dataframe
X = kc_df.drop(['price'], axis=1)
y = kc_df['price']

In [39]:
#split data into train-test sets
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=.25, random_state=0)

In [40]:
print(f"X_train is DataFrame with {X_train.shape[0]} rows and {X_train.shape[1]} columns")
print(f"y_train is a Series with {y_train.shape[0]} values")

#assert X_train.shape[0] == y_train.shape[0]

X_train is DataFrame with 15857 rows and 20 columns
y_train is a Series with 15857 values

### Multicolinearity

In [ ]:
kc_df_features = kc_df.drop["id"], axis=1
kc_df_features.head()

In [44]:
pd.plotting.scatter_matrix(kc_df_features, figsize=[12,12]);

In [ ]:
#looking for correlation
kc_df_features.corr()

In [ ]:
sns.heatmap(kc_df_features.corr(), center=0);

### Data Cleaning & Feature Engineering

In [ ]:
X_train.head()

In [ ]:
# getting rid of unnecessary features
def get_needed_features(kc_df):
    
    
    
    return kc_df

In [ ]:
X_train_features = get_needed_features(X_train)
X_train_features.head()

In [ ]:
X_train_features.shape()

In [ ]:
#working with numerical features
X_train_features.head()

In [ ]:
def get_numerical_features(kc_df):
    
    columns_numerical = ['']
    return kc_df[columns_numerical]

In [ ]:
X_train_numerics = get_numerical_features(X_train_features)
X_train_numerics.head()

In [ ]:
# dealing missing values
def full_null_values(kc_df, train_data_frame):
    
    values_to_fill = {
        col: train_dataframe[col].median()
        for col in train_dataframe.columns
    }
    
    return kc_df.fillna(values_to_fill)

In [ ]:
X_train_numerics_filled = fill_nul_values(X_train_numerics, X_train_numerics)
X_train_numerics_filled.head()

In [ ]:
X_train_numerics_filled.info()

In [ ]:
#finalizing features
features = X_train_numerics_filled
target = y_train

### Model the Data

In [45]:
#model = LinearRegression()
#model.fit(featrues, target)

### Evaluate the Model

In [ ]:
#models coefficents & intercept
display(model.coef_)
display(model.intercept_)

In [ ]:
model.coef_.reshape(-1,1)
pd.DataFrame(data=model_coef_.reshape(-1,1), columns=features.columns)

In [ ]:
#check the P-value how features do in making prediction

In [ ]:
#Observe how well the model makes predictions
from sklearn.model_selection import cross_val_score

scores =cross_val_score(
           model,
           features,
           target,
           cv=10,
           scoring="neg_mean_squared_error"
)

rmse_score = np.sqrt(-score)

In [ ]:
display(rmse_score)
display(rmse_score.mean())
display(rmse_score,std())

In [ ]:
y.std()

In [ ]:
#checking my model how does it holdout the test set
X_test_final = fill_null_values(
    get_numerical_features(
         get_needed_features(X_test)
    ),
    X_train_numerics
)

In [ ]:
X_test_final.shape()

In [ ]:
y_hat = model.predict(X_test_final)

In [ ]:
y_hat.shape()

In [ ]:
resid = y_hat - y_test
resid

#### Saving Models

In [ ]:
import pickle
pickle.dump(model, open('model_simple_sol.pkl', 'wb'))

In [ ]:
model_loaded = pickle.load('model_simple_sol.pkl', 'rb')